# Node.js
Server/node_modules/
Server/package-lock.json
Server/.env

# React
Client/node_modules/
Client/package-lock.json
Client/.env
Client/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.sw?

# Optional: if using dist folder or uploads
dist/
uploads/
